### Gradle ###
.gradle/**
build/
out/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
**/src/main/**/build/
**/src/main/**/out/
**/src/test/**/build/
**/src/test/**/out/

### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Jrebel ###
jrebel.xml
**/rebel.xml