<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.sea.shield.batch.mapper.JobConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="pers.sea.shield.batch.pojo.entity.JobConfig">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="monitor_file" property="monitorFile"/>
        <result column="load_file" property="loadFile"/>
        <result column="column_mark" property="columnMark"/>
        <result column="column_name" property="columnName"/>
        <result column="allow_ip" property="allowIp"/>
        <result column="allow_time" property="allowTime"/>
        <result column="maximum_limit" property="maximumLimit"/>
        <result column="api_url" property="apiUrl"/>
        <result column="api_params" property="apiParams"/>
        <result column="format_func" property="formatFunc"/>
        <result column="jar_name" property="jarName"/>
        <result column="class_name" property="className"/>
        <result column="express" property="express"/>
        <result column="result_file" property="resultFile"/>
        <result column="result_flag" property="resultFlag"/>
        <result column="status" property="status"/>
        <result column="remote_server_ip" property="remoteServerIp"/>
        <result column="remote_server_port" property="remoteServerPort"/>
        <result column="remote_server_user" property="remoteServerUser"/>
        <result column="remote_server_password" property="remoteServerPassword"/>
        <result column="remote_server_path" property="remoteServerPath"/>
        <result column="create_uid" property="createUid"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_uid" property="modifyUid"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <if test="true">
            id, name, description, monitor_file, load_file, column_mark, column_name, allow_ip, allow_time,
            maximum_limit, api_url, api_params, format_func, jar_name, class_name, express, result_file, result_flag,
            status, remote_server_ip, remote_server_port, remote_server_user, remote_server_password,
            remote_server_path, create_uid, create_time, modify_uid, modify_time
        </if>
    </sql>

</mapper>
